/* google font */

body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.defult{
    color: #0D1321;
}
p{
    opacity: 0.7;
    font-size: 16px;
    line-height: 25px;
}
/* hero part */
.hero{
    background-image: url(./images/Hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 619px;
}
.hero-div{
    width: 948px;
    height: 553px;
    padding: 25px 0px;
    margin: 0 210px;
  
    text-align: center;
}
.hero-txt{
    margin-top: 30px;
    padding: 0px 70px;
}
.hero-txt p{
    padding-:0 30px;

    color: #0D1321;
    
}
.hero-txt h1{
    font-weight: 800;
    font-size: 45px;
}
.btn{
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    /* height: 63px;
    width: 198px; */
    padding: 20px 23px;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 42px;
}
.btn a{
    color: #ffffff;
    text-decoration: none;
}
main{
    width: 1083px;
    margin: 70px auto;
}
/* why web part */
.why-web{
    height: 1325px;
    padding: 76px 92px;
    border-radius: 15px;

    background: rgba(13, 19, 33, 0.02);
}
.title-div{
    padding: 44px 45px;
    text-align: center;
}
.title-div h2{
    margin-bottom: 23px;
    color: rgb(13, 19, 33);
    font-size: 32px;
font-weight: 800;
line-height: 37px;
}
.part-1{
    padding: 46px;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 15px;
margin-bottom: 31px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.part-txt{
    width: 453px;
}
.part-txt h3{
    color: rgba(13, 19, 33, 0.7);

font-size: 23px;
font-weight: 700;
line-height: 34px;

}
.btn-1{
    padding: 12px 19px 12px 19px;
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-size: 19px;
font-weight: 600;
line-height: 22px;
text-align: center;
}
.btn-1 a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.part-2{
    padding: 46px;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 15px;
margin-bottom: 31px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.part-3{
    padding: 46px;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 15px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* my inspiration */
.my-inspiration{
    height: 736px;
    text-align: center;
    margin-top: 84px;
}
.my-txt{
    padding: 0 137px;
    text-align: center;
    margin-bottom: 45px;
}
.my-txt h2{
    margin: 23px 0px;
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
line-height: 35px;
}
.link-div{
    padding: 30px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 15px;

}
.link-div iframe{
    border-radius: 15px;
}
/* target */
.target{
    height: 600px;
    margin-top: 143px;
}
.target-txt{
    padding: 0 137px;
    text-align: center;
    padding-bottom: 45px;
}
.target-txt h2{
    margin: 23px 0px;
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
line-height: 35px;
}
.parent-card{
    height: 284px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-top: 45px;

}
.card-1{
    height: 300px;
    width: 346px;
    padding: 38px;
    margin: 0px 23px;
    border-radius: 15px;
background: rgba(255, 76, 30, 0.05);
}
.card-2{
    height: 300px;
    width: 346px;
    padding: 38px;
    margin: 0px 23px;
    border-radius: 15px;
    background: rgba(0, 76, 232, 0.05);
}
.card-2 p{
    margin-bottom: 38px;
}
.card-3{
    height: 300px;
    width: 346px;
    padding: 38px;
    margin: 0px 23px;
    border-radius: 15px;
    background: rgba(255, 223, 0, 0.05);
}
.card-1 a,.card-2 a,.card-3 a{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.card-1 h3,.card-2 h3,.card-3 h3{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;

}
/* support */
.support{
    height: 298px;
    border-radius: 15px;
background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./images/handshake.jpg);
background-position: center;
background-size: cover;
padding: 61px 45px 61px 45px;
color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
/* background-blend-mode: overlay;
background-color: rgba(19, 18, 18, 0.53); */

}
.support-txt{
    width: 693px;
    text-align: center;

}
.support-txt p{
    margin-bottom: 40px;
    line-height: 26px;
}
.support-txt h3{
    color: rgb(255, 255, 255);
font-size: 30px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 15px;
}
.support-txt input[type="text"]{
    padding: 19px 20px 19px 20px;
    width: 520px;
    font-size: 15px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.support-txt input[type="button"]{
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
background: rgb(255, 255, 255);
border: none;
color: rgb(13, 19, 33);
font-size: 19px;
font-weight: 600;
line-height: 23px;
cursor: pointer;
}
footer{
    padding: 30px 142px;
    border-radius: 15px;
background: rgba(13, 19, 33, 0.03);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
footer p{
    color: rgb(13, 19, 33);
font-size: 19px;
font-weight: 600;
line-height: 23px;
}